<div class="theme-info-background">
    <div class="container about-section">
        <h1>Acerca de Nosotros</h1>
        <p>Somos un equipo apasionado por la geografía y los países, dedicados a construir una base de datos con información relevante sobre las naciones de América.</p>
        <p>Nuestra misión es proporcionar datos detallados y actualizados sobre capitales, poblaciones y otros datos de interés de los países hispanoamericanos.</p>
        <p>¡Explora nuestro sitio y descubre el vasto mundo de los países que lo componen!</p>
        <div class="btn-group">
            <a href="/api/paises" class="btn btn-primary">Ver Países</a>
            <a href="/api/contact" class="btn btn-secondary">Contactar</a>
        </div>
    </div>
</div>
