<div class="theme-info-background">
    <div class="container hero-section">
        <h1>Bienvenido a nuestra base de datos de Países</h1>
        <p>Explora el vasto mundo de naciones, sus culturas, geografía y mucho más. Descubre datos interesantes sobre cada rincón del planeta.</p>
        <div class="hero-actions">
            <a href="/api/paises" class="btn btn-primary">Ver Países</a>
            <a href="/api/formAgregarPais" class="btn btn-success">Agregar Nuevo País</a>
        </div>
    </div>
</div>
